<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XMPP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55D748F51D2CFD4E005732D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55D7490E1D2CFD4E005732D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55D749191D2CFD4E005732D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
